<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Страница логина</title>
</head>
<body>
<a href="/register" style="float:right;">
    <b>Зарегистрироваться &#10549;</b>
</a>
<a href="/main/items" style="float:right;">
    <b>ГЛАВНАЯ &#10549;</b>
</a>
<h1>Страница логина</h1>
<p th:if="${loginError}" class="error">Неправильный логин или пароль</p>
<form action="/login" method="post">
    <label for="username">Имя пользователя</label>:
    <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
    <label for="password">Пароль</label>:
    <input type="password" id="password" name="password" /> <br />
    <input type="submit" value="Войти" />
</form>
</body>
</html>